.promo {
    padding: 30px 0;
}

.promo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo_content {
    padding-right: 65px;
}

.promo_buttons>* {
    margin-right: 44px;
}

.promo_title {
    margin: 0 0 30px;
}

.promo_text {
    max-width: 487px;
    @extend %font-add;
    @include font(1.8rem, 2.8rem, normal, normal);
}