.tools_wrapper {
    padding-bottom: 90px;
    background-image: url("../image/tools-bg.svg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tools_title {
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}

.tool_title {
    margin-bottom: 16px;
}

.tool_icon {
    margin-bottom: 30px;
}

.tools_button {
    margin-top: 60px;
    text-align: center;
    @include media-mobile {
        margin-top: 0;
    }
}

.tool-container {
    @include media-tablet {
        flex-wrap: wrap;
        >.tool {
            flex-basis: 42%;
        }
    }
    @include media-mobile {
        >.tool {
            flex-basis: 100%;
            margin-bottom: 25px;
        }
    }
}

.tool {
    @include media-tablet {
        text-align: center;
    }
}