.layout-4-column {
    @include columns(21%);
}

.layout-3-column {
    @include columns(29%);
    &:after {
        content: '';
        width: 29%;
        display: block;
    }
}

.layout-2-column {
    @include columns(45%);
}
